.services {
  height: auto;
  padding: 60px 80px;
  background-color: #011;
  color: white;
  text-align: left;
  user-select: none;
  
}

.services h2 {
  color: #33b8a9;
  font-size: 1.5em;
  margin-bottom: 10px;
  max-width: 900px;

}

.section-title {
  font-size: 3em;
  margin: 0 auto 40px auto;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Responsivo: 3 colunas em telas médias */
@media (max-width: 1200px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Responsivo: 2 colunas em tablets */
@media (max-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsivo: 1 coluna em dispositivos pequenos */
@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
